<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Burgers</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="./js/burgers.js"></script>
    <link rel="stylesheet" href="./css/burger.css" type="text/css"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">




</head>

<body>
    {{{ body }}}
</body>

</html>